<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4"> Shows </h1>

        <div class="row">
            {{#each series}}
            <div class="col-3 mb-4 px-2">
                <div class="card">
                    <img src="{{imagem}}" class="card-img-top" alt="Thumbnail of {{nome}}" />
                    <div class="card-body">
                        <div class="card-title h4"><a href="/shows/{{id_serie}}">{{nome}}</a></div>
                        <p class="card-text">{{descricao}}</p>
                        <div class="float-right">
                                 <button class="btn btn-outline-primary"><a href="/shows/{{id_serie}}">More Info</a></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br> 

<br>
<br>
<br>